@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
*{margin:0;padding:0;font-family: 'Poppins',sans-serif;box-sizing: border-box;}

:root {
    --cream: #fffbca;
    --middle-yellow: #ffea00;
    --black: #000814;
    --max-size: 320px;
    --font-size: 12px;
    --title: 16px;
    --font-middle: 13px;
}

html{font-size: var(--font-size); margin: 0; padding: 0;background-color: var( --cream)}

input{outline:none}




header{    

    height: 14vh;
    background-color: var(--middle-yellow);
}
.title{
    font-size: var(--title);
    font-weight: bold;
    text-align: center;
}

.barraPesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
}

.barraPesquisa input[type=text]{
    width: 70%;
    border-radius: 72px 0px 0px 72px;
    border: solid 1px var(--black);
    border-right: none;
    height: 3.4rem;
    font-size: var(--title);
    padding: 10px;
    text-align: center;
    box-shadow: 0;
}

.barraPesquisa img{
    background-color: #fff;
    height: 3.4rem;
    border: solid 1px var(--black);
    border-radius: 0px 72px 72px 0px;
    box-shadow: none;
    border-left: none;
    margin-bottom: 0;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-rows: 1fr 0.15fr;
   /* max-width: var(--max-size);*/

}
.subContainer{
    display: grid;
    grid-template-rows: 0.15fr 1fr;
    /*max-width: var(--max-size);*/

}
.filter{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF9D4;

}

.range{
    display: flex;
    flex-direction: row;
}
.range > span{
    font-weight: bold;
    margin: 5px;
}

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 50%;
    height: 6px;
    background-color: #e6e2b5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #011533), color-stop(100%, var(--black)));
    background-image: -webkit-linear-gradient(#011533, var(--black));
    background-image: -moz-linear-gradient(#011533, var(--black));
    background-image: -o-linear-gradient(#011533, var(--black));
    background-image: linear-gradient(#020c1c, #000308);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

button {
    text-transform: uppercase;
    outline: 0;
    background: var(--middle-yellow);
    width: 60%;
    border: 0;
    padding: 15px;
    color:  var(--black);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

button:hover,.form button:active,.form button:focus {
    background: #a69800;
  }

.resultados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 13vw;
    height: auto;
}

.cardReceita{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-middle);
    margin: 4vh 5px;
    cursor: pointer;
    user-select: none;
}
.cardReceita img{
    width: 80%;
}
img{
    box-shadow: 5px 6px 6px #827e7ebd;
    margin-bottom: 18px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.paginas{
    text-align: end;
    margin: 10px 15%;
    user-select: none;
}

.paginas ul li{
    font-size: 1.3rem;
    display: inline;
    transition: 0.4s;
}
.paginas ul li a{
    text-decoration: none;
    color: var(--black);
}
.paginas ul li a:hover{
    color: #2a2af8;
    font-size: 1.5rem;
}

.receita{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10px 13vw 10vw 13vw;    
}
.receita h2{
    font-size: 3rem;
}
.receita h4{
    font-size: 20px;
    text-align: center;        
}
.receita .listaIngredientes{
    text-align: center;
}

.receita img{
    width: 20vw;    
}

.receita p {
    font-size: 1.2rem;

}


footer{
    background-color: var(--middle-yellow);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    user-select: none;
}

@media (min-width:320px) { 
    :root{
        --max-size: 490px;
    }
}
@media (min-width:480px) { 
    :root{
        --max-size: 600px;
    }
 }
@media (min-width:600px) { 
    :root{
        --max-size: 801px;
    }
    .subContainer{
        grid-template-columns: 0.15fr 1fr;

    }
}
@media (min-width:801px) { 
    :root{
        --font-size: 14px;
        --font-middle: 16px;
        --title: 24px;
        --max-size: 1025px;
    }
 }
@media (min-width:1025px) { 
    :root{
        --max-size: 1281px;
    }
}
@media (min-width:1281px) {
    :root{
    --max-size: 1400px;
    }
 }