{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {% include 'nav.html' %}
    <div class="container">
        <div class="subContainer">
        <div class="filter">
            <span class="title">Filtrar por</span>
            <div class="filterBlock">
                <span>Tempo</span>
                <div class="range">
                    <span id="minRange"></span>
                    <input type="range" min="0" max="300" value="30"
                        step="2" id="timeRange">
                    <span id="maxRange"></span>
                    
                </div>
            </div>
            <button onclick="filter()">Filtrar</button>
        </div> 
        <section class="resultados">
            {% for recipe in recipe_list %}
            <div class="cardReceita">
                {% load tagger %}
                <a href="{% url 'recipe'  id=recipe|private:'_id'%}">
                    <img src="{{recipe.photo_url}}" alt="" title="{{recipe.title}}"> 
                </a>
                <p>{{recipe.title}}</p>
            </div>
            {% endfor %}        
        </section>
        </div>
        <div class="paginas">
            <ul>
                {% for index in page_indexes %}
                <li><a onclick='changePag("{{ index }}")'>{{index}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $('input[type=range]').on('input', function(e){
        var min = e.target.min,
            max = e.target.max,
            val = e.target.value;
        $('#minRange').text(min);
        $('#maxRange').text(val);

        $(e.target).css({
            'backgroundSize': (val - min) * 100 / (max - min) + '% 100%'
        });
        }).trigger('input');

        function changePag(index){
            const ingrediente = JSON.parse(localStorage.getItem('ingrediente'));
            const timeLimit = JSON.parse(localStorage.getItem('timeLimit'));

            if(ingrediente && timeLimit){
                var url = "{% url 'search_with_filter' limit_time=1 ingredients='ingrediente' page_num=999%}";
                url = url.replace("ingrediente", ingrediente);
                url = url.replace("999", index);

                url = url.replace("1", timeLimit);

                url = url.replace("&amp;&amp;",'&&');
                url = url.replace("&amp;&amp;",'&&');

                location.href = url;
            }else if(ingrediente){
                var url = "{% url 'search' ingredients='ingrediente' page_num=999%}";
                url = url.replace("ingrediente", ingrediente);
                url = url.replace("999", index);
                url = url.replace("&amp;&amp;",'&&');
                location.href = url;
            }else if(timeLimit){
                var url = "{% url 'time_filter' limit_time=1 page_num=999%}";
                url = url.replace("999", index);

                url = url.replace("1", timeLimit);
                url = url.replace("&amp;&amp;",'&&');
                url = url.replace("&amp;&amp;",'&&');

                location.href = url;
            }
            else{
                var url = "{% url 'page' page_num=1%}";
                url = url.replace("1", index);
                location.href = url;
            }
        }

        function filter(){
            const ingrediente = JSON.parse(localStorage.getItem('ingrediente'));
            var timeLimit = $("#timeRange").val();
            localStorage.setItem('timeLimit', JSON.stringify(timeLimit));

            if(ingrediente){
                var url = "{% url 'search_with_filter' limit_time=1 ingredients='ingrediente' page_num=0%}";
                url = url.replace("ingrediente", ingrediente);
                url = url.replace("1", timeLimit);
                url = url.replace("&amp;&amp;",'&&');
                url = url.replace("&amp;&amp;",'&&');

                location.href = url;
            }else{
                var url = "{% url 'time_filter' limit_time=1 page_num=0%}";
                url = url.replace("1", timeLimit);
                url = url.replace("&amp;&amp;",'&&');

                location.href = url;
            }
        }

    </script>
{% endblock content %}

