{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {% include 'nav.html' %}    
    <section class="receita">
        <span class="title">{{ recipe.title }}</span>    
        <img src="{{ recipe.photo_url}}" alt="pudim">
        <div class="box-ingrediente">
            <h4>Ingredients</h4>
            <ul>
                {% for i in recipe.ingredients %}
                <li>{{i}}</li>
                {% endfor %}   
            </ul>
        </div>
        
        <div class="box-preparo">
            <h4>Instructions</h4>
             <ul>
                {% for i in recipe.instructions %}
                <li>{{i}}</li>
                {% endfor %}   
            </ul>
        </div>
    </section>
{% endblock content %}
